@charset "UTF-8"

@import "reset"
@import "blocks2/*"
/*@import "blocks2/cabinet.styl"
@import "blocks2/button.styl"
@import "blocks2/typography.styl"
@import "blocks2/popup.styl"
@import "blocks2/advant.styl"
@import "blocks2/alerts.styl"
@import "blocks2/checkbox.styl"
@import "blocks2/contribute.styl"
@import "blocks2/dashboard.styl"
@import "blocks2/balance.styl"
@import "blocks2/event.styl"
@import "blocks2/follow.styl"
@import "blocks2/subscribe.styl"
@import "blocks2/select.styl"
@import "blocks2/sc.styl"
@import "blocks2/slider.styl"
@import "blocks2/suggest.styl"
@import "blocks2/events.styl"
@import "blocks2/input.styl"
@import "blocks2/profile.styl"
@import "blocks2/procedure.styl"
@import "blocks2/footer.styl"
!*@import "blocks2/header.styl"*!
@import "blocks2/history.styl"*/
//@import "blocks2/*"