.balance
  padding-top 25px
  padding-bottom 110px

  &__box
    margin-top: 30px
    display: block;
    position: relative;
    min-width: 900px;
    max-width: 1100px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;

  &__separator
    width: 200px;

    display: flex
    flex-direction: column
    justify-content: center;


  &__currency
    flex: 1
    font-size: 12px;
    display: flex
    flex-direction: column
    justify-content: center;

    &--value
      font-size: 20px;

    &--wallet
      position: relative;
      color #ccc
      cursor: pointer;
      width: 20px;
      vertical-align: -3px

      &:hover
        color: #7f00ff
        border-color: #7f00ff

    &__wallet_id
      display: none
      position: absolute;
      margin-top: -40px;
      background: #fff
      border: 1px solid grey
      border-radius: 5px
      padding: 10px


    &__item
      margin-bottom: 20px;
      span
        display: inline-block
        margin-right: 20px
      strong
        display: inline-block
        margin-right: 20px
        font-size: 20px;


  &__result
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center;

    &--header
      font-size: 25px
      color #7f00ff
      text-align: center;
      margin-bottom: 20px;

    &--value
      font-size: 25px
      text-align: center;
      margin-bottom: 20px

    &--button
      font-size: 25px
      color #7f00ff
      border: 1px solid #7f00ff;
      background #fff
      text-transform uppercase
      padding: 10px;
      &:disabled
        background grey;

  &__wallet

    &__title
      float: left
      padding-right: 30px

    &__container
      float: right

  &__total
    float: right
