.deal
    & .page__layout
        padding-left 0
        
    &-box
        display table
        
        position relative
        
        width 100%
        
        table-layout fixed
        
        &_cell
            display table-cell
            
            position relative
            
            vertical-align top
            
            &:last-child
                width 400px
                
                padding-left 40px
        
    &-image
        display inline-block
        
        position relative
        
        width 100%
        height 410px
        
        background-size cover
        background-position right center
        
        padding-left $padding-left
        
    & .page__title
        margin-top -10px
        
    &-about
        display block
        
        position relative
        
        width 52%
        
        padding-left 25px
        padding-right 25px
        padding-top 35px
        padding-bottom 35px
        
        margin-top 35px
        
        background-color rgba(#000, 0.65)

        vertical-align top
        
        & p
            color #fff
            
            font-size 14px
            font-weight bold
            
            line-height 18px
            
            margin-top 20px
        
    &__title
        display block
        
        position relative
        
        font-size 35px
        font-weight bold
        
        color #fff
        
    &-sale
        display block
        
        position relative
        
        font-size 0
        
        white-space nowrap
        
        &__title
            display block
            
            position relative
            
            font-size 70px
            font-weight bold
            
            color #000
            
            text-transform uppercase
            
        &__bonus
            display inline-block
            
            position relative
            
            font-size 48px
            font-style italic
            
            color #000
            
            line-height 48px

            vertical-align top
            
        &__value
            display inline-block
            
            position relative
            
            font-size 145px
            font-weight bold
            font-style italic
            
            color #000
            
            line-height 145px
            
            text-transform uppercase
            
            vertical-align top
            
    &-footer
        display block
        
        position relative
        
        text-align center
        
        margin-top 15px