.footer
    height 150px
    
    background-image url(../images/footer-background.jpg)
    background-repeat no-repeat
    background-position left -28px bottom -26px
    background-size contain
    
    &-box
        display flex
        
        position relative
        
        width 100%
        height 100%
        
        text-align center

        align-items center

        justify-content center
        
    &__copy
        display inline-block
        
        position relative
        
        font-size 18px
        
        color #000
        
        vertical-align top

    &__links
        display inline-block
        
        position relative
        
        font-size 18px
        
        color #000
        
        vertical-align top
        
        margin-left 10px
        margin-right 10px
        
        & a
            color #000
            
            text-decoration none

            padding-bottom 1px
            
            background-image url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='2'%3E%3Crect x='0' y='0.5' width='1' height='2' fill='rgba(0, 192, 255, 0.5)'/%3E%3C/svg%3E")
            background-position left bottom
            background-repeat repeat-x
            
            &:hover,
            &:active
                color #00c0ff