.header
    padding-top 30px
    padding-bottom 55px
    
    &-block
       display flex
       
       position relative
       
       width 100%
       
       align-items center
       
       justify-content space-between 
    
    &-lng
        text-align right
        
    &__logo
        display block
        
        position relative
        
        width 357px
        height 75px
        
        background-image url(../images/logo.svg)
        background-size 100% 100%
        
    &-menu
        display block
        
        position relative
        
        font-size 0
        
        margin-top 30px
        
        &__link
            display inline-block
            
            position relative
            
            text-decoration none
            
            padding-left 10px
            padding-right 10px
            
            vertical-align middle
            
            & i
                display inline-block
                
                position relative
                
                font-size 18px
                font-style normal

                color #000

                text-decoration none
                
                padding-bottom 1px
            
                background-image url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='2'%3E%3Crect x='0' y='0.5' width='1' height='2' fill='rgba(0, 192, 255, 0.5)'/%3E%3C/svg%3E")
                background-position left bottom
                background-repeat repeat-x
                
            &:hover i,
            &:active i
                color #00c0ff
                
        & .button
            vertical-align middle
            
            margin-left 15px