.page
    &__layout
        display block
        
        position relative
        
        min-width 900px
        max-width 1100px
        height 100%
        
        margin-left auto
        margin-right auto
        
        padding-left $padding-left
        padding-right $padding-right
        
        @media screen and (max-width: $mobileWidth)
            min-width 100%

            padding-left 20px
            padding-right 20px
    
    &__title
        display inline-block
        
        position relative
        
        height 45px
        
        font-family $font-opinion
        font-size 38px
        
        color #fff
        
        text-transform uppercase
        
        line-height 45px
        
        padding-left 10px
        padding-right 10px
        
        background-color #000