.lng
    display inline-block
    
    position relative
    
    font-size 0
    
    &__item
        display inline-block
        
        position relative
        
        width 32px
        height 32px
        
        font-size 14px
        font-weight normal
        
        text-transform uppercase
        text-align center
        text-decoration none
        
        line-height 32px
        
        color #000
        
        border-radius 50%
        border 1px solid transparent
        
        margin-left 5px
        
        &:first-child
            margin-left 0
            
        &.st-active
            border-color #000

            font-weight bold