.team
    padding-top 25px
    padding-bottom 110px
    
    &-box
        display block
        
        position relative
        
        width 100%
        
        font-size 0
        
        margin-top 40px
        
    &-item
        display inline-block
        
        position relative
        
        width 22%
        
        vertical-align top
        
        margin-right 4%
        
        &:nth-child(4n+4)
            margin-right 0
        
    &__photo
        display block
        
        position relative
        
        width 150px
        height 150px
        
        border 1px solid #000
        
        border-radius 50%
        
        background-size cover
        background-position center center
        
    &__name
        display block
        
        position relative
        
        font-size 20px
        font-weight bold
        
        color #000
        
        margin-top 20px
        
        line-height 24px