.timer
    display block
    
    position relative
    
    width 100%
    
    font-size 0
    
    &__value
        display inline-flex
        
        position relative
        
        width 90px
        height 115px
        
        align-items center
        
        font-size 74px
        
        line-height 74px
        
        color #fff

        flex-wrap wrap
        
        text-align center

        justify-content center
        
        & i
            display block
            
            position relative
            
            font-size 20px
            
            line-height 20px
        
        &.st-days
            background-color #c63827
            
        &.st-hours
            background-color #d3662b
            
        &.st-minutes
            background-color #df902f
            
        &.st-seconds
            background-color #efc935