.footer
    padding-top 40px
    padding-bottom 35px

    &--l2
        margin-top 35px
        padding-top 25px
        background #F5F5F5
                
    &-links
        display block
        
        position relative
        
        width 100%
        
        text-align center
        
        margin-top 25px
        
        font-size 0
        
    &__link
        display inline-block
        
        position relative
        
        font-size 16px
        font-weight 500
        
        color #157FFB
        
        text-decoration none
        
        padding-left 15px
        padding-right 15px
        padding-top 5px
        padding-bottom 5px
        
        &:hover,
        &:active
            color #333
            
        &.st-contrast
            opacity 0.5
            
            &:hover,
            &:active
                opacity 1
                
                color #157FFB
            
    &-contacts
        display block
        
        position relative
        
        font-size 0
        
        text-align center