/*
.header
    z-index 2
    overflow: hidden

    &--landing
      overflow: initial

    &:before
        display block

        position absolute

        top 0
        left 0

        width 100%
        height 666px

        background-image url(../images/header-background.jpg)
        background-size cover
        background-position center center

        content ''

        @media screen and (max-width: $mobileWidth)
            height 1050px

    &-box
        display block

        position relative

        width 100%
        max-width 830px

        margin-left auto
        margin-right auto
        margin-top 35px

    &__title
        display block

        position relative

        font-size 36px
        font-weight 300

        line-height 40px

        color #fff

        text-align center

    &--stripe
        display block

        position relative

        width 600px
        height 3px

        background-color rgba(#fff, 0.2)

        margin-left auto
        margin-right auto
        margin-top 15px

        @media screen and (max-width: $mobileWidth)
            width 100%

    &__advant
        display block

        position relative

        font-size 20px
        font-weight 500

        color #fff

        text-align center

        margin-top 20px

        & i
            padding-left 20px
            padding-right 20px

            color #BDBDBD

            @media screen and (max-width: $mobileWidth)
                display block
                
    & .tabs
        margin-top 35px

    &-data
        display block

        position relative

        width 100%
        height 490px

        background-color #fff

        border-radius 0 10px 10px 10px

        box-shadow 0 2px 15px 0 rgba(#000, 0.2)

        overflow hidden

        @media screen and (max-width: $mobileWidth)
            height auto
            
            border-radius 0 0 10px 10px

        &-table
            display table

            position relative

            width 100%
            height 100%

            table-layout fixed

            @media screen and (max-width: $mobileWidth)
                display block

        &-cell
            display table-cell

            position relative

            height 100%

            vertical-align top

            @media screen and (max-width: $mobileWidth)
                display block

            &:first-child
                width 490px

                @media screen and (max-width: $mobileWidth)
                    width 100%

    &-l2
        &--landing
            overflow: initial
            &:before
                height 550px
                background-image url(../images/l2-header-background.jpg)
        &-data
            color white
            background linear-gradient(to left bottom, #472756 0%, #3E234E 25%, #261839 75%, #17122C 100%)
            height auto
        &-fish
            width 100%
            padding-top 170px
            padding-left 450px
            padding-bottom 50px
            background-image url(../images/fish.png)
            background-repeat no-repeat
            background-position left bottom
            border-bottom 1px solid rgba(white, .2)
            h2
                font-size 32px
                font-weight 300
                line-height 1.4em
                color white
                text-indent -0.5em
            p
                font-size 18px
                color #929292
                margin-top 10px
            @media screen and (max-width: $mobileWidth)
                padding 20px 20px 51.8% 30px 
                background-size 100%
        &__form-holder
            display block
            width 500px
            margin 0 auto
            padding 35px 0
            @media screen and (max-width: $mobileWidth)
                width 100%
                padding 0 20px 20px
    &-l3
        overflow: initial
        &:before
            height 100%
        .header
            &-box
                padding-bottom 40px


*/
