.procedure
    padding-top 35px
    margin-top 35px
    border-top 5px solid #dddddd
    &__image
        width 100%
        padding-bottom 25.39%

        background-image url(../images/procedure-desktop@2x.jpg)
        background-size 100% 100%
        @media screen and (max-width: $mobileWidth)
            background-image url(../images/procedure-mob.jpg)
            padding-bottom 189.19%