.select
    display inline-block
    
    position relative
    
    height 32px
    
    border-radius 8px
    border 2px solid #fff
    
    background-color transparent
    background-image url(../images/select.svg)
    background-repeat no-repeat
    background-size 10px 6px
    background-position right 8px center
    
    font-size 16px
    font-weight 500

    color #fff
    
    -webkit-appearance none
    
    outline none
    
    padding-left 12px
    padding-right 26px
    
    cursor pointer
    
    opacity 0.6
    
    transition all 0.1s ease
    
    &:hover,
    &:active
        opacity 1