.telegram
    height 235px
    
    margin-top 30px
    
    background-image url(../images/telegram-background.jpg)
    background-size cover
    background-position center center
    
    border-top solid 1px #CACFD2
    
    @media screen and (max-width: $mobileWidth)
        height auto
        
        border none
        
        & .page__layout
            padding-left 0
            padding-right 0
    
    &-chat
        display block
        
        position relative
        
        width 100%
        height 100%
        
        overflow hidden
        
        padding-top 10px
        padding-bottom 10px
        
        @media screen and (max-width: $mobileWidth)
            display none
        
        &--image
            display block
            
            position relative
            
            width 549px
            height 459px
            
            background-image url(../images/telegram-chat.png)
            background-repeat no-repeat
            background-size 100% 100%
            
            animation-name chat
            animation-duration 15s
            animation-timing-function ease-in-out
            animation-fill-mode backwards
            animation-iteration-count infinite
                
            transform translateY(146px)
            
    &__layout
        display block
        
        position absolute
        
        top 0
        right 0
        
        height 100%
        
        padding-right $padding-right
        
        @media screen and (max-width: $mobileWidth)
            position relative
            
            padding-right 0
        
    &-form
        display flex
        
        position relative
        
        width 390px
        height 100%
        
        background-color rgba(#fff, 0.63)
        
        align-items center
        justify-content center
        
        padding-left 40px
        padding-right 40px
        
        @media screen and (max-width: $mobileWidth)
            width 100%
            
            background-color transparent
            
            padding-left 0
            padding-right 0
            padding-top 30px
            padding-bottom 30px

    &-l3
        margin-top 0
        .telegram
            &-chat
                padding-left 430px
            &__layout
                left 0
                padding-left 40px
                padding-right 0
            
@keyframes chat
    0%, 10%
        transform translateY(146px)
    15%, 25%
        transform translateY(83px)
    30%, 40%
        transform translateY(0px)
    45%, 55%
        transform translateY(-63px)
    60%, 70%
        transform translateY(-126px)
    75%, 85%
        transform translateY(-181px)
    90%, 98%
        transform translateY(-243px)
    99%, 100%
        transform translateY(146px)