/*
h2
    display block
    
    position relative
    
    font-size 28px
    font-weight bold
    
    color #000
    
    margin-top 20px
    
    &:first-child
        margin-top 0
        
h3
    display block
    
    position relative
    
    font-size 18px
    font-weight bold
    
    color #000
    
    margin-top 20px
    
    &:first-child
        margin-top 0

h4
    display block
    
    position relative
    
    font-size 16px
    font-weight 500
    
    line-height 22px
    
    color #000
    
    margin-top 15px
    
    &:first-child
        margin-top 0

p
    display block
    
    position relative
    
    font-size 14px
    
    line-height 20px
    
    color #000

strong
    font-weight 500

ul
    display block
    
    position relative
    
    width 100%
    
    margin-top 25px
    
    &:first-child
        margin-top 0
    
    & li
        display block
        
        position relative
        
        font-size 14px
    
        line-height 20px
        
        color #000
        
        margin-top 15px
        
        padding-left 18px
        
        &:first-child
            margin-top 0
            
        &:before
            display block
            
            position absolute
            
            top 5px
            left 0
            
            width 8px
            height 8px
            
            border-radius 50%
            
            //background-color #157FFB
            
            //content ''*/
